@use "./pages/index" as p;
@use "./utils/index" as *;
@use "./components/index" as c;
@use "./layouts/index.scss" as l;
@use "./base/index.scss" as b;

html {
    font-size: 62.5%;
  
}
body {
    @include text;
    
    animation: body-loader 3s ease-out;
   
}
a, li {
    list-style-type: none;
    color: inherit;
    text-decoration: inherit;
}

h3, ul {
    margin: 0;
   
}
p {
    margin: 0;
    @include text;
}
img {
    object-fit: cover;
}

.boldy {
    font-weight: bold;
}

@keyframes body-loader {
    0% {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    100% {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}