@use "./pages/index" as p;
@use "./utils/index" as *;
@use "./components/index" as c;
@use "./base/index.scss" as b;
@use "./layouts/index.scss" as l;

html {
    font-size: 62.5%;
  
}
body {
    @include text;
    width: 100%;
    height: 100%;
   
}
a, li {
    list-style-type: none;
    color: inherit;
    text-decoration: inherit;
}

h3, ul {
    margin: 0;
   
}
p {
    margin: 0;
    @include text;
}
img {
    object-fit: cover;
}

.boldy {
    font-weight: bold;
}



    

