@use "./utils/index" as u;
@use "./components/index" as b;
@use "./base/index";



html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
a, li {
    list-style-type: none;
    color: inherit;
    text-decoration: inherit;
}

p {
    font-family: 'Roboto', sans-serif;;
}
img {
    object-fit: contain;
}
header {
    display:block;
    position: relative;
}


.logo__header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.2rem 0 1.5rem 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(204,204,204,0.96); 
    box-shadow: 1px 2px 3px 1px rgba(204,204,204,0.96);
        & img {
            width: 45%;
            height: 45%;
        }
}
.location {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 5rem;
        &__text {
          display: flex;
          align-items: center;
          font-size: 1.6em;
          font-weight: 400;
          padding-left: 1.5rem;
        }
        &__icon {
            font-size: 1.8em;
        }
}
.introducing {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.8rem 0;
        &__title {
            font-size: 2.4rem;
            padding: 1rem 5rem 1rem 5rem;
        }
        &__subtitle {
            font-size: 1.8rem;
            color:  #352f2f ;
            font-style: italic;
            font-weight: 300;
            padding: .5rem 0 3rem 0;
            margin: 0;
        }
        &__button {
            padding-bottom: 3rem;
        }
}

.nav {
    
    &__title {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        padding:2.5rem  0 0 1.5rem ;
    }
    &__tabs {
        padding: 0 2rem 0 3rem ;
        counter-reset: counter-name;
    }
           &__tab {
               display: flex;
               justify-content: center;
               align-items: center;
        position: relative;
        background-color:  #f6f6f6;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 2.8rem 1.5rem 2.8rem 2rem;
        margin-top: 2rem;
        border-radius: 2rem;
        text-align: center;
        -webkit-box-shadow: 0px 5px 9px 0px rgba(204,204,204,0.66); 
        box-shadow: 0px 5px 9px 0px rgba(204,204,204,0.66);
            &__icon {
               font-size: 25rem;
                margin-right: 5rem;
            }
            &:hover {
              background-color: pastel(u.$primary);
            }

        }
        &__tab::before {
            counter-increment: counter-name;
            content: counter(counter-name);
            position: absolute;
            left: -1.3rem;
            background: white;
            font-size: 1.4rem;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: u.$primary;
            color: white;
            box-sizing: border-box;
        }
    
 
}