@use "../utils/index" as u;
.btn {
    padding: 1.6rem 2.2rem;
    font-size: 1.6rem;
    font-weight: 450;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(u.$secondary , u.$primary );
    border: none;
    color: white;
    -webkit-box-shadow: 3px 3px 7px 3px rgba(204,204,204,0.66); 
    box-shadow: 3px 3px 7px 3px rgba(204,204,204,0.66);
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        border-radius: 50px;
        right: 0;
        bottom: 0;  
        left: 0;
        background: linear-gradient(lighten(u.$secondary,5% ),lighten( u.$primary,5%) );
        -webkit-box-shadow: 3px 3px 7px 3px rgba(204,204,204,0.96); 
        box-shadow: 3px 3px 7px 3px rgba(204,204,204,0.96);
        opacity: 0;
        z-index: -1;
        transition: opacity ease-in-out 500ms;
    }
}