@use "../utils/index" as *;

.fa-heart {
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: 100;
    transform-origin: bottom;
    transition: opacity  ease-in .5s;
    &:hover {
        transform: scale(1.06);
        font-weight: 900;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient($primary, $secondary);
        &::after {
            opacity: 1;
            transform: scale(1.06);
        }
      
    }
    &::after {
        content: "\f004";
        @include center-absolute;
        transform-origin: bottom;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient($primary, $secondary);
        font-weight: 900;
        opacity: 0;

        transition: opacity ease-in .3s;
    }
}

