@use "../utils/index" as * ;


/************ MOBILE SMALL **************************************/

@media #{$mobile-s} {
    .nav {

       
        &__tab {
            &__icon {
                font-size: 1.5rem;
            }
            &__title {
                font-size: 1.5rem;
            }
        }

    }
    .menu {
        &__title  {
            & h1, i {
                font-size: 2.3rem;
            }
        }
        &__card {
            &:hover .select-icon {
                width: 7rem;
            }
            &:hover .boldy {
                margin-right: 7rem;
            }
            &:hover h3 {
                margin-right: 7rem;
            }
            & h3, .overflow {
                font-size: medium;
            }
        }
    }
      
}

/************************ TABLET **************************************************/

@media #{$tablet} {
    .logo__header img {
        width: 30%;
    }
    .location {
        &__text {
            font-size: 2rem;;
        }
    }
    .introducing {
        &__title {
            font-size: 2.6rem;
        }
        &__subtitle {
            font-size: 2rem;
        }
    }
    .btn {
        font-size: 1.8rem;
    }
    .nav {
           
        padding-bottom: 5rem;
        &__tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
        &__tab {
            justify-content: center;
            width: 70%;
            &__icon {
                font-size: x-large;
            }
            &__title {
                font-size: larger;
            }
        }
  

    }
    .restaurants {
        margin-top: 0;
    }
    .restaurant-cards {
        width: 75%;
    }

    .menu {
        &__title {
            justify-content: space-evenly;
            & h1 {
                font-size: 4rem;
            }
        }
        &__subtitle {
            font-size: large;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__card {
            width: 75%;
        }
    }
    .footer {
        &__logo {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        &__nav {
            display: flex;
            justify-content: center;
            padding-bottom: 2rem;
            & li:hover {
                color: lighten($primary, 15%);
            }
        }
        &__tabs {
            & .fa-hands-helping {
                margin-left: 0rem;
            }
        }
    }
}

/**************** DESKTOP *************************************************/

@media #{$desktop} {

    .logo__header img {
        width: 25%;
    }

    .nav {
        &__tab {
            width: 50%;
        }
    }
    .jumbotron img {
        max-height: 55rem;
        margin-bottom: -15rem;
    }
    .menu {
        margin: 0 4rem 0 4rem;
        background-color: #f6f6f6;

        &__title {
            width: 75%;
            margin: 0 auto;
            padding: 2.2rem;
        }
    
    } 
}


/**************** BIG DESKTOP ************************************************/

@media #{$desktop-xl} {

    .logo__header img {
        width: 20%;
    }
    .nav {
        &__tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        &__tab {
            justify-content: center;
            width: 25%;
        }
    }
    .restaurants {
        & .starters {
            display: flex;
        }
        &__group {
            display: flex;
            justify-content: space-evenly;
        }
        & .restaurant-cards {
            width: 22%;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
       
        margin: 0 6rem 0 6rem;
        &__title {
            width: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 2.2rem;
            & h1 {
                font-size: 4rem;
            }
        }
        &__main {
            margin-top: 3rem;
        }
        &__subtitle {
            font-size: x-large;
            padding: 0;
        }
        &__cards {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        &__card {
            width: 28%;
        }
     
    }
}
