@use "../utils/index" as * ;


/************ MOBILE SMALL **************************************/

@media #{$mobile-s} {
    .nav {

       
        &__tab {
            &__icon {
                font-size: 1.5rem;
            }
            &__title {
                font-size: 1.5rem;
            }
        }

    }
    .menu {
        &__title  {
            & h1, i {
                font-size: 2.3rem;
            }
        }
        &__card {
            &:hover .select-icon {
                width: 7rem;
            }
            &:hover .boldy {
                margin-right: 7rem;
            }
            &:hover h3 {
                margin-right: 7rem;
            }
            & h3, .overflow {
                font-size: medium;
            }
        }
    }
      
}

/************************ TABLET **************************************************/

@media #{$tablet} {
    .logo__header img {
        width: 30%;
    }

    .nav {
           
        padding-bottom: 5rem;
        &__tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
        &__tab {
            justify-content: center;
            width: 70%;
            &__icon {
                font-size: x-large;
            }
            &__title {
                font-size: larger;
            }
        }
  

    }
    .restaurants {
        margin-top: 0;
    }
    .restaurant-cards {
        width: 75%;
    }

    .menu {
        &__title {
            justify-content: space-evenly;
            & h1 {
                font-size: 4rem;
            }
        }
        &__subtitle {
            font-size: large;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__card {
            width: 75%;
        }
    }
    .footer {
        &__logo {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        &__nav {
            display: flex;
            justify-content: center;
            padding-bottom: 2rem;
            & li:hover {
                color: lighten($primary, 15%);

            }
            & li:last-child {
                background-color: white;
                color: black;
                padding: .5rem;
                border-radius: .5rem;
                margin-left: 1rem;
                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }
    }
}

/**************** DESKTOP *************************************************/

@media #{$desktop} {

    .logo__header img {
        width: 25%;
    }

    .nav {
        &__tab {
            width: 50%;
        }
    }
    .menu-pages {
        background-color: #f6f6f6;

    }
    .jumbotron img {
        max-height: 55rem;
        margin-bottom: -15rem;
    }
    .menu {
        margin: 0 4rem 0 4rem;
        background: rgba( 246, 246, 246, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border: 1px solid rgba( 246, 246, 246, 0.18 );
        -webkit-border: 1px solid rgba( 246, 246, 246, 0.18 );
        &__title {
            width: 75%;
            margin: 0 auto;
            background: rgba( 246, 246, 246, 0.8 );
            backdrop-filter: blur( 14.5px );
            -webkit-backdrop-filter: blur( 14.5px );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            border: 1px solid rgba( 246, 246, 246, 0.18 );
            padding: 2.2rem;
        }
    
    }

    
}


/**************** BIG DESKTOP ************************************************/

@media #{$desktop-xl} {

    .logo__header img {
        width: 20%;
    }
    .nav {
        &__tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        &__tab {
            justify-content: center;
            width: 25%;
        }
    }
    .restaurants {
   
       
        & .starters {
            display: flex;
        }
        &__group {
            display: flex;
            justify-content: space-evenly;
        }
        & .restaurant-cards {
            width: 22%;
        }
    }
    .jumbotron img{
        max-height: 55rem;
        margin-bottom: -40rem;
    }
   
    .menu {
        background: rgba( 246, 246, 246, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border: 1px solid rgba( 246, 246, 246, 0.18 );
        display: flex;
        flex-direction: column;
       
        margin: 0 6rem 0 6rem;
        &__title {
            width: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: rgba( 246, 246, 246, 0.8 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 14.5px );
            -webkit-backdrop-filter: blur( 14.5px );
            border: 1px solid rgba( 246, 246, 246, 0.18 );
            padding: 2.2rem;
            & h1 {
                font-size: 4rem;
            }
        }
        &__main {
            margin-top: 3rem;
        }
        &__subtitle {
            font-size: x-large;
            padding: 0;
        }
        &__main {
           & h2 {
            font-size: x-large;
            color: white;
            text-shadow: .5px .5px 5px black;
           }
            }
        &__cards {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        &__card {
            width: 28%;
        }
     
    }
}
