
/* COLOR *************************/

$primary : #9356DC;
$secondary : #FF79DA;
$accent : #99E2D0;

/* RESPONSIVE ********************/

$mobile-s : "only screen and (max-width: 328px)";
$tablet : "only screen and (min-width: 425px)";
$desktop-xl : "only screen and (min-width: 1300px)";