


.jumbotron {
    display: block;
    & img {
         width: 100%;
         max-height: 35rem;
         z-index: 1;
         margin-bottom: -6.5rem;
    }
    &__lanote {
        margin-top: -8rem;
    
       
    }
  

}