@use "../utils/index" as u;

.nav {
    
    &__title {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        padding:2.5rem  0 0 1.5rem ;
    }
    &__tabs {
        padding: 0 2rem 0 3rem ;
        counter-reset: counter-name;
    }
           &__tab {
               display: flex;
               justify-content: flex-start;
               align-items: center;
        position: relative;
        cursor: pointer;
        background-color:  #f6f6f6;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 2.8rem 1.5rem 2.8rem 4rem;
        margin-top: 2rem;
        border-radius: 2rem;
        text-align: center;
        -webkit-box-shadow: 0px 5px 9px 0px rgba(204,204,204,0.66); 
        box-shadow: 0px 5px 9px 0px rgba(204,204,204,0.66);
              &:hover {
                //background-color: pastel(u.$primary);
                background-color: hsl(267, 100%, 95%);
                    & .nav__tab__icon {
                        color: #9356DC;
                       
                     
                    }
               
              }
             
            
            &__icon {
               font-size: 1.9rem;
                padding-right: 3rem;
                color: #5a5a5a;
                transition: transform .4s;
                
            }
         
           
        }
        &__tab::before {
            counter-increment: counter-name;
            content: counter(counter-name);
            position: absolute;
            left: -1.3rem;
            background: white;
            font-size: 1.4rem;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: u.$primary;
            color: white;
            box-sizing: border-box;
        }
    
 
}